**/HELP.md
**/id_advent_of_code.txt
**/target/
**/bin
!**/src/main/**
!**/src/test/**
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.vscode/
**/.idea
**/dist
**/tmp
**/out-tsc
**/node_modules
**/package-lock.json
**/.DS_Store
**/Thumbs.db